@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  direction: rtl;
  font-family: 'BTitr';
  font-size: 20px;
  
}

@font-face {
  font-family: 'Blotus';
  src: local('Blotus'), url('./fonts/B\ Lotus_0.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'BTitr';
  src: local('BTitr'), url('./fonts/B\ Titr\ Bold_0.ttf') format('truetype');
  font-weight: bold;
}
.swal-title{
  color: red;
}
.swal-footer{
  display: flex;
  justify-content: center;
  width: 100%;
}
.swal-button-container{
  width: 100%;
}
.swal-button{
  background-color: rgb(251, 146, 60);
  font-size: 18px;
  width: 100%;
}
.react-time-picker__inputGroup__hour{
  padding: 8px 4px !important; /* Adjust padding */
  width: calc(100% - 2px) !important; /* Adjust width and consider margin */
  border: 1px solid rgb(99, 99, 99) !important;
  border-radius: 4px !important;
  margin-left: 2px !important;
  box-sizing: border-box;
  text-align: center !important;
  margin-bottom: 5px !important;
}
.react-time-picker__inputGroup__minute{
  padding: 8px 4px !important; /* Adjust padding */
  width: calc(100% - 2px) !important; /* Adjust width and consider margin */
  border: 1px solid rgb(99, 99, 99) !important;
  border-radius: 4px !important;
  margin-left: 2px !important;
  box-sizing: border-box;
  text-align: center !important;
}
.react-time-picker__inputGroup__leadingZero,.react-time-picker__inputGroup__divider {
  display: none!important;
}
