@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  direction: rtl;
  font-family: 'Blotus';
  font-size: 20px;
}

@font-face {
  font-family: 'Blotus';
  src: local('Blotus'), url('./fonts/B\ Lotus_0.ttf') format('truetype');
  font-weight: bold;
}
